<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%#= @svg.html_safe %>

<div id="hello" data-controller="hello">
  <div data-hello-target="output">
  </div>
</div>

<div data-controller="bye">
  <button data-bye-target="btn" data-action="click->bye#click">click</button>
</div>